<!-- {% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %} -->

<div itemscope itemtype="http://schema.org/Person">
    <div class="author__avatar">
        <img src="/assets/images/presidents/{{ page.photo }}" alt="{{ page.name }}" itemprop="image">
    </div>

  <div class="author__content">
    <!-- <h3 class="author__name" itemprop="name">{{ page.name }}</h3> -->
    <!-- {% if author.bio %} -->
      <p class="author__bio" itemprop="description">
        Born {{ page.birth_date | date: "%B %-d, %Y" }}
      </p>
    <!-- {% endif %} -->

  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | remove: ":" | default: "Follow" }}</button>
    <ul class="author__urls social-icons">
      {% if author.location %}
        <li itemprop="homeLocation" itemscope itemtype="http://schema.org/Place">
          <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> <span itemprop="name">{{ author.location }}</span>
        </li>
      {% endif %}

        {% if page.website %}
            <li>
              <a href="{{ author.uri }}" itemprop="url">
                <i class="fa fa-fw fa-chain" aria-hidden="true"></i> {{ page.website }}
              </a>
            </li>
        {% endif %}    


      {% if page.twitter %}
        <li>
          <a href="https://twitter.com/{{ page.twitter }}" itemprop="sameAs">
            <i class="fa fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter
          </a>
        </li>
      {% endif %}

      {% if author.facebook %}
        <li>
          <a href="https://www.facebook.com/{{ author.facebook }}" itemprop="sameAs">
            <i class="fa fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook
          </a>
        </li>
      {% endif %}

      {% if author.google_plus %}
        <li>
          <a href="https://plus.google.com/+{{ author.google_plus }}" itemprop="sameAs">
            <i class="fa fa-fw fa-google-plus-square" aria-hidden="true"></i> Google+
          </a>
        </li>
      {% endif %}

      {% if author.instagram %}
        <li>
          <a href="https://instagram.com/{{ author.instagram }}" itemprop="sameAs">
            <i class="fa fa-fw fa-instagram" aria-hidden="true"></i> Instagram
          </a>
        </li>
      {% endif %}

      {% if author.youtube %}
        {% if author.youtube contains "://" %}
          <li>
            <a href="{{ author.youtube }}" itemprop="sameAs">
              <i class="fa fa-fw fa-youtube-square" aria-hidden="true"></i> YouTube
            </a>
          </li>
        {% else author.youtube %}
          <li>
            <a href="https://www.youtube.com/user/{{ author.youtube }}" itemprop="sameAs">
              <i class="fa fa-fw fa-youtube-square" aria-hidden="true"></i> YouTube
            </a>
          </li>
        {% endif %}
      {% endif %}

      {% include author-profile-custom-links.html %}
    </ul>
  </div>
</div>
