---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">Served {{ page.terms.size }}
        {% if page.terms.size <= 1 %} term{% else %} terms{% endif %}. </p>
  </header>

    <!-- div class="featured-image">
        <img src="/assets/images/presidents/{{ page.photo }}" alt="Haiti President {{ page.name }}">
    </div -->

    <article class="post-content">
    {{ content }}
  </article>

 <hr>

    <!-- TERMS -->
    <div class="interviews">
        <h2>{{ page.name }} Terms</h2>

        <ul class="listing">
            {% for term in page.terms %}
                <li><strong>{{ term.start | date: "%B %-d, %Y" }} - {{ term.end | date: "%B %-d, %Y" }}</strong></li>
                <li>Prime Minister(s): {{ term.prime_ministers | join: ", " }}</li>
                <li>Preceded by: {{ term.predecessor }}</li>
                <li>Succeeded by: {{ term.successor }}</li>
            {% endfor %}
        </ul>
    </div>

    <!-- PERSONAL -->
    <div class="interviews">
        <h2>{{ page.name }} Personal Details</h2>

        <ul class="listing">
            <li>Born: {{ page.birth_date | date: '%B %d, %Y' }}, {{ page.birth_place }}</li>
            <li>Political Party:
            {% for party in page.political_parties %}
                {{ party.name}} ({{ party.period}}),
            {% endfor %}
            </li>
            <li>Spouse(s):
            {% for spouse in page.spouses %}
                {{ spouse.name}} ({{ spouse.period }})
            {% endfor %}
            </li>
            <li>Children: {{ page.kids | join: ", "}}</li>
            <li>Religion: {{ page.religion }}</li>
            {% if page.website %}<li>Website: {{ page.website }}</li>{% endif %}
            <li>Education: {{ page.education | join: ", " }}</li>
        </ul>
    </div>

    <div class="details">
        <p>For more information on President {{ page.name }}, please visit <a href="{{ page.wikipedia }}" target="_blank">Wikipedia</a></p>
    </div>
    <!-- TODO: Display photos -->
    <!-- TODO: Display Videos -->
    <!-- TODO: Display quotes -->
    <!-- TODO: Display news -->
</div>
