---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">born {{ page.birth_date | date: '%B %d, %Y' }}</p>
  </header>

    <!-- div class="featured-image">
        <img src="/assets/images/presidents/{{ page.photo }}" alt="Haiti President {{ page.name }}">
    </div -->

    <article class="post-content">
    {{ content }}
  </article>

 <hr>

    <!-- TERMS -->
    <div class="interviews">
        <h2>{{ page.name }} Terms</h2>

        <ul class="listing">
            {% for term in page.terms %}
                <li><strong>{{ term.start | date: "%B %-d, %Y" }} - {{ term.end | date: "%B %-d, %Y" }}</strong></li>
                <li>Prime Minister(s): {{ term.prime_ministers | join: ", " }}</li>
                <li>Preceded by: {{ term.predecessor }}</li>
                <li>Succeeded by: {{ term.successor }}</li>
            {% endfor %}
        </ul>
    </div>

    <!-- PERSONAL -->
    <div class="interviews">
        <h2>{{ page.name }} Personal Details</h2>

        <ul class="listing">
            <li>Born: {{ page.birth_date }}, {{ page.birth_place }}</li>
            <li>Political Party: {{ page.political_party }}</li>
            <li>Spouse(s): {{ page.spouses }}</li>
            <li>Children: {{ page.kids | join: ", "}}</li>
            <li>Religion: {{ page.religion }}</li>
            {% if page.website %}<li>Website: {{ page.website }}</li>{% endif %}
        </ul>
    </div>

    <div class="details">
        <p>For more information on President {{ page.name }}, please visit <a href="{{ page.wikipedia }}" target="_blank">Wikipedia</a></p>
    </div>
    <!-- TODO: Display photos -->
    <!-- TODO: Display Videos -->
    <!-- TODO: Display quotes -->
    <!-- TODO: Display news -->
</div>
